node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
/environmentConfigs/.env.Motive
/tests/Motive
/e2eWithPOM/testdata/
/e2eWithPOM/authentication/managerSession.json
/e2eWithPOM/authentication/adminSession.json